.screen {
  background-image: url("img/table.jpg");
  height: 768px;
  width: 1024px;
/*margin-left: auto;
margin-right: auto;
position: inherit;*/
}

div, p {
  position: absolute;
}
.dealer {
  top: 230px;
}
.player {
  top: 460px;
}
.dealer, .player {
  height: 120px;
  left: 440px;
}
.dealer img, .player img {
  margin-left: -540px;
}
img {
  height: 120px;
}

/*********************/
/***  my Button   ***/
/*******************/
#bet {
  position: absolute;
  top: 670px;
  left: 550px;
}
#hit {
  position: absolute;
  top: 650px;
  left: 550px;
}
#stand {
  position: absolute;
  top: 690px;
  left: 550px;
}

#dS {
  position: absolute;
  top: 150px;
}

#pS {
  position: absolute;
  top: 380px;
}

/********************************/
/***  gen style for button   ***/
/******************************/
.myButton {
  width: 80px;
  left: 660px;

	-moz-box-shadow:inset 0px 2px 0px 0px #d1f0d3;
	-webkit-box-shadow:inset 0px 2px 0px 0px #d1f0d3;
	box-shadow:inset 0px 2px 0px 0px #d1f0d3;
	background-color:#d4c37d;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#336329;
	font-family: 'Vidaloka', serif;
	font-size:18px;
	font-weight:bold;
	padding:5px 15px;
	/*text-decoration:none;*/
	text-shadow:0px 1px 0px #cce6c8;
}
.myButton:hover {
	background-color:#a99950;
}
.myButton:active {
	position:relative;
	top:1px;
}



/*****************************/
/***  style for message   ***/
/***************************/
.message {
  background: rgba(192,192,192, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 270px;
  left: 360px;
  padding: 50px;
  font-family: 'Vidaloka', serif;
  color: #333;
}

/****************************/
/***  style for pop-up   ***/
/**************************/
.overlay {
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  opacity: 1;
}

.popup {
  padding: 35px 40px;
  background: rgba(192,192,192, 0.8);
  border-radius: 5px;
  position: absolute;
  top: 270px;
  left: 360px;
  transition: all 1s ease-in-out;
}

.popup h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Great Vibes', cursive;
  font-wight: bold;
  font-size: 50px;
  color: #333;
}
table {
  margin: auto;
  margin-bottom: 20px;
}
.popup .close {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  border: 1px solid #999;
  background-color: rgba(92, 88, 88, 0.7);
  border-radius: 10px;
  padding: 8px 15px;
  margin: 30px;
}
.popup .close:hover {
  color: gold;
}
.popup .content {
  max-height: 30%;
  font-size: 20px;
  margin-top: 10px;
  font-family: 'Vidaloka', serif;
  color: #333;
}

/**********************************/

.showBet, .score {
  position: absolute;
  top: 500px;
  left: 180px;
  padding: 8px 25px;
  text-align: left;
  font-family: 'Vidaloka', serif;
  color: #333;
  background: wheat;
  font-size: 20px;
  border-radius: 10px;
}
.score {
  width: 80px;
  left: 660px;
}
.chip {
  width: 45px;
  height: 45px;
  background-color: transparent;
}
.chip0 {
  position: absolute;
  top: 707px;
  left: 767px;
}
.chip25 {
  position: absolute;
  top: 697px;
  left: 817px;
}
.chip50 {
  position: absolute;
  top: 707px;
  left: 867px;
}
.chip100 {
  position: absolute;
  top: 707px;
  left: 917px;
}
.chip500 {
  position: absolute;
  top: 707px;
  left: 967px;
}
